<body> 
  <nav>
    <ul>
        <div class=logo>
            <li><a  href="#"><img [src]="logo" ></a></li>
            <li><a  href="#"><img [src]="footer"></a></li>
        </div>
      
      <div class="menu" >
        <li><a href="#">Search Music</a></li>
        <li><a href="#">Submit Music</a></li>
        <li ><a href="#">Pricing</a></li>
        <li><a href="#"><img [src]="line"></a></li>
        <li><a href="#"><img [src]="cart"></a></li>
        <li><a href="#"><img [src]= "search" ></a></li>
        <li ><a class="active" href="#">My Account</a></li>
      </div>
    </ul>
  </nav>

  <section>
    <div class="profile">
        <span class="underline"><span  >My Profile</span></span>
    </div>
    <div class="image">
        
        <img [src]="profile">
    </div>
    
    <form class="form">
        <div class="row">
            <div class="col required">
                <label>First Name </label>
                
            </div>
            <div class="col2">
                <input type="text" size="30" required>
            </div>
            <div class="col required">
                <label>Last Name</label>
                
            </div>
            <div class="col2">
                <input type="text" size="30" required>
            </div>
        </div>
      
        <div class="row">
            <div class="col required">
                <label>Email</label>
            </div>
            <div class="col2">
                <input type="text" size="30" required>
            </div>
        </div>
      
        <div class="row">
            <div class="col">
                <label>Password</label>
            </div>
            <div class="col2">
                <a style="color:rgba(255, 0, 0, 0.66);" href="#">Click to Change Password</a>
            </div>
        </div>
      
        <div class="row">
            <div class="col required">
                <label>Phone</label>
            </div>
            <div class="col2">
                <input type="text" size="30" required>
            </div>
            <div class="col">
                <label>How did you hear about us?</label>
            </div>
            <div class="col2">
                <input type="text" size="30">
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <label>License Name or Company</label>
            </div>
            <div class="col2">
                <input type="text" size="30" >
            </div>
            <div class="col">
                <label>Website</label>
            </div>
            <div class="col2">
                <input type="text" size="30" >  
            </div>
        </div>
      
        <div class="row">
            <div class="col">
                <label>YouTube channel URL</label>
            </div>
            <div class="col2">
                <input type="text" size="30">
            </div>
            <div class="col">
                <label>Twitch Channel URL</label>
            </div>
            <div class="col2">
                <input type="text" size="30">
            </div>
        </div>
      
        <input type="submit" value="UPDATE INFO" >
    </form>
    
  </section>
  <hr style="width:58%;">
  <section>
      <div class="subs">
          <span class="underline"><span  >My Subscription</span></span>
          
      </div>

      <div class="plan">
          <p>
              You are currently subscribed to the following plan:
            </p>
            
            <p  class="a">
              PROFESSIONAL - $249/year
            </p>
            <p  class="a">
              Renewal Date: May 25, 2019
            </p>
      </div>
      
      <div class="button">
          <button   class="button1"  >UPGRADE NOW</button>
          <button  class="button1" >CANCEL SUBSCRIPTION</button>
      </div>
      
  </section>

  <footer>
    <div class="icons" style="padding-bottom:20px;">
        <a href="#"> <i class="fa fa-facebook-square" style="font-size:28px"></i></a>
        <a href="#"><i class="fa fa-google-plus-square" style="font-size:28px"></i></a>
        <a href="#"><i class="fa fa-twitter-square" style="font-size:28px"></i></a>
        <a href="#"><i class="fa fa-instagram" style="font-size:28px"></i></a>
        <a href="#"><i class="fa fa-linkedin-square" style="font-size:28px"></i></a>
    </div>
    <hr style="width:60%;">
    <div class="footer">
        <div class="col3">
            <label class="row3" ><a href="#">Music</a> </label>
            <label class="row3" ><a href="#">Music Search</a></label>
            <label class="row3" ><a href="#">Our Story</a></label>
            <label  class="row3"><a href="#">Pricing</a></label>
          </div>
        
          <div class="col3">
              <label class="row3" ><a href="#">Sign Up</a></label>
              <label class="row3" ><a href="#">Make a Music Request</a></label>
              <label class="row3" ><a href="#">our Current Music Needs</a></label>
              <label class="row3"><a href="#">Tv Film credits</a></label>
            </div>
        
        <div class="col3">
              <label class="row3"><a href="#">Contact Us</a></label>
              <label class="row3"><a href="#">FAQ</a></label>
              <label class="row3"><a href="#">Privacy Policy</a></label>
              <label class="row3"><a href="#">Terms & Conditions</a></label>
            </div> 

            <ul class = "copyright"    >
                <li style="padding:0 3px 0 0;">&copy;2018</li>
                <li ><img [src]="footer"></li>
                <li style="padding:0 0 0 3px;">Inc.</li>
              </ul>
     </div>
    
  </footer>
</body>
