

.menu{
     float: right;
 }
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 2px 0 0 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
     
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: .9rem;
    line-height: 1.25rem;
      display: block;
    color: #d4d4d4;
    padding: 14px 16px;
    text-decoration: none;
 }
 
.active {
    background-color: gradient;
}

 .profile{
     padding: 20px 0 10px 0;
    font-size: 30px;
      margin-left: 48%;
        color: #505050;
        font-family: 'Raleway', sans-serif !important;
  }
 
.underline {
     border-bottom: #e25f50 3px solid;
}
 .subs{
    font-size: 30px;
    margin-left: 47%;
    color: #4f4e4e;
    font-family: 'Raleway', sans-serif !important;
  }
 .image{
    margin-left: 51%;
 }
 .form{
     width: 50%;
     margin-left:23%;
     font-family: sans-serif;
     padding-bottom: 20px;
     font-weight: lighter;
 }

.row {
    width: 120%; 
    overflow: hidden;
    padding: 10px;
}
.col {
    float: left;
    width: 22%;
    font-size: 15pt;
      color: #505050;
}
.col2{
    float: left;
    width: 28%;
 }
 input[type=submit]{
    background-color: #019587;  
    color: #F3EFEF;
    padding: 10px 22px;
    margin-left: 48%;
    font-size: 23px;
    font-weight: 200;
   }
 .col.required:after { content:"*"; color:red;}

 .button{
     font-size: 12px;
    margin-left: 25%;
    padding-bottom: 20px;
     
 }
 .button1{
    background-color: #555555;  
    color: #E7E5E5;
    padding: 10px 20px;
    margin-left: 45px;
     font-size: 20px;
     width: 30%;
     font-weight: 250;
}
.plan{
   margin-left:38%;
    font-size: 18pt;
   font-weight: light;
   line-height: 50px;
   color: #505050;
   font-family: sans-serif;
   font-weight: lighter;
 }

 .a {
    text-indent: 50px;
}
 footer{
    overflow: hidden;
    background-color: #333;
    color: #e1e1e1;;
     text-decoration: none;
     padding: 20px;
 }
.footer{
    margin-left: 20%;
    width: 75%;
    padding-top: 20px;
    font-family:  sans-serif;
     
 }
.col3{
     
    float:left; 
    width:33%;
} 

.row3{
    display: block;
    
 }  
 .row3 a{
    display: block;
    text-decoration: none;
    color: #e1e1e1;
    font-size: 17px;
    font-weight: 400;
 }    
 .icons{
    margin-left: 45%;
     width: 20%;
     
 }  
 a .fa{
     padding: 5px;
     text-decoration: none;
     color: #e1e1e1;;
 } 

 .copyright{
    padding:3% 0 0 33%;
 }
 @media only screen and (max-width: 568px) {
      
     

    ul {
       width: 110%;
     }
    .profile{
         margin-left: 40%;
     }
      
    .subs{
       font-size: 30px;
       margin-left: 30%;
       color: #4f4e4e;
       font-family: 'Raleway', sans-serif !important;
     }
    .image{
       margin-left: 52%;
    }
    .form{
        display: block;
        width: 100%;
        margin-left:10%;
        font-family: sans-serif;
         
    }
    input[type=submit]{
        margin-left: 25%;
       }

   .row {
    width: 120%; 
    overflow: hidden;
   }
    .col{
        display: flex;
    }
    
   .button{
    padding: 5%;
    margin-left: 20%;
    }
    .button1{
        
        width: 90%;
        display: block;
        margin-left: 5%;
        
    }
    .plan{
        margin-left:10%;
         width: 115%;
      }  
      .a {
        text-indent: 0px;
    }
    .icons{
        margin-left: 25%;
         display: inline; 
         
     } 

     .copyright{
        padding:8% 0 0 20%;
     }

     footer{
         width: 110%;
     }
     .footer{
        margin-left: 2%;
        width: 100%;
         
     }

     .row3 a{
         
        font-size: 13px;
        font-weight: 400;
     }   
}
@media screen and (min-width: 568px) and (max-width: 768px) {
    ul {
        width: 115%;
      }
     .profile{
          margin-left: 50%;
      }
       
     .subs{
        font-size: 30px;
        margin-left: 50%;
        color: #4f4e4e;
        font-family: 'Raleway', sans-serif !important;
      }
     .image{
        margin-left: 55%;
     }
     .form{
         display: block;
         width: 100%;
         margin-left:10%;
         font-family: sans-serif;
          
     }
     input[type=submit]{
         margin-left: 40%;
        }
 
    .row {
     width: 120%; 
     overflow: hidden;
    }
     .col{
         display: flex;
     }
     
    .button{
     padding: 5%;
     margin-left: 20%;
     }
     .button1{
         
         width: 90%;
         display: block;
         margin-left: 5%;
         
     }
     .plan{
         margin-left:25%;
          width: 115%;
       }  
       .a {
         text-indent: 110px;
     }
     .icons{
         margin-left: 45%;
          display: inline; 
          
      } 
 
      .copyright{
         padding:8% 0 0 30%;
      }
 
      footer{
          width: 110%;
      }
      .footer{
         margin-left: 15%;
         width: 100%;
          
      }
 
      .row3 a{
          
         font-size: 13px;
         font-weight: 400;
      }   
}
  